body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #d4af37, #0a0039);
}
.navbar {
	position: fixed;
	width: 100%;
	background: linear-gradient(to right, #d4af37, #0a0039);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
	font-family: "Playfair Display", serif;
	font-size: 1.5rem;
	color: #ffd700 !important;
}
.navbar-brand:hover {
	color: #ff8c00 !important;
}
.nav-link {
	color: #ffd700 !important;
	font-size: 1rem;
	margin-right: 15px;
	transition: color 0.3s ease-in-out;
}
.nav-link:hover {
	color: #ff8c00 !important;
}
.navbar-toggler {
	border-color: #ffd700;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f5b041' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
